<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Iris Verify System">
	<test name="testCaseSuite1" preserve-order="true">
		<!-- 登录地址、用户名、密码、注册人员数 -->
		<parameter name="url" value="http://10.2.1.224:25668"/>
		<parameter name="username" value="sunjian"/>
		<parameter name="password" value="1234qwer"/>
		<parameter name="num" value="500"/><!-- 无法采集 -->
		<parameter name="num2" value="1"/><!-- 虹膜采集 -->

		<classes>
			<class name="com.sunjian.testCases.LoginTest">
				<methods><!-- include  exclude -->
					<include name="testLoginFailed"/>
					<include name="testLogin"/>
				</methods>
			</class>
			<class name="com.sunjian.testCases.HmcjTest">
				<methods>
					<include name="testWfcjWay"/>
					<exclude name="testHmcjWay"/>
				</methods>
			</class>
			<class name="com.sunjian.testCases.HmsbTest">
				<methods>
					<exclude name="testHmsb"/>
				</methods>
			</class>
		</classes>
	</test>
	
	<listeners>
    	<listener class-name="com.sunjian.utils.ExtentTestNGIReporterListener" />
    </listeners>
   
</suite>